@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nixie+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-base;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold font-display;
  }

   p {
    @apply text-base;
   }
}

body {
  @apply font-base;

  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;
}

#app canvas {
  outline: none;
}

#debug {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 350px;
  z-index: 10;
}
